#main {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

#calc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
    border:1px solid black;
}


#calc-display {
    border:1px solid red;
    height: 20%;
    width: 100%;
    font-size: 2em;
}

#calc-body {
    border:1px solid blue;
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#calc-numbers-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}

#calc-operators-container {
    display: grid;
}


.calc-input,.calc-clear {
    border:1px solid green;
    background-color: orange;
    font-size: 3rem;
}

.calc-button:active {
    background-color: darkorange;
    color:black;
}

